.benefits {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 128px 80px;
  gap: 128px;

  &__heading {
    font-size: 42px;
    font-weight: 700;
    flex-shrink: 0;
    margin: 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
    width: 100%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item-title {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
  }

  &__item-content {
    color: #1E1E1E;
    font-size: 16px;
  }

  &__item-more {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #E58411;
    cursor: pointer;
  }

}
