
.experiences {
  @apply py-[270px] flex gap-40 pr-40;

  &__visual {
    @apply relative flex-shrink-0;

    img {
      @apply block max-w-full h-auto;
    }
  }

  &__bg {
    @apply absolute -z-10;

    &--top {
      @apply -top-16 left-0;
    }

    &--right {
      @apply top-20 -right-16;
    }
  }

  &__content {
    @apply flex flex-col gap-5;
  }

  &__label {
    @apply uppercase text-[#E58411];
  }

  &__title {
    @apply text-[#1E1E1E] font-bold text-[42px] m-0;
  }

  &__desc {
    @apply text-[#1E1E1E] text-[18px] leading-[185%];
  }

  &__more {
    @apply flex items-center gap-3 text-[#E58411] cursor-pointer;
  }
}
