
.materials {
  @apply pb-[270px] ps-20 flex gap-24 items-center;

  &__left {
    @apply flex flex-col gap-5;
    @apply text-[#1E1E1E];
  }

  &__label {
    @apply uppercase text-[#E58411];
  }

  &__title {
    @apply text-[#1E1E1E] font-bold text-[42px] m-0;
  }

  &__desc {
    @apply text-[#1E1E1E] text-[18px] leading-[185%];
  }

  &__more {
    @apply flex items-center gap-3 text-[#E58411] cursor-pointer;
  }

  &__images {
    @apply flex-shrink-0 flex gap-10 items-end;
  }

  &__column--tall {
    @apply flex flex-col gap-4 h-[590px];

    img {
      @apply block max-w-full h-auto;
    }
  }

  &__sofa {
    @apply -mt-14;
  }

  &__column--short {
    @apply h-[445px] relative ;

    .back-bg{
      @apply absolute -top-[66px] w-[70%] right-0 -z-10;
    }

    .chairs-image {
      @apply z-10 block;
    }
  }
}
