.products {
  @apply bg-[#F7F7F7] px-32 py-12;

  .heading-title {
    @apply pb-8 text-[42px] font-bold text-center mb-4;
  }

  .tabs {
    @apply bg-[#EEEEEE] flex flex-nowrap p-2 rounded-[32px] w-fit mx-auto mb-4;

    .tab-button {
      @apply w-[84px] h-[45px] rounded-[32px] flex items-center justify-center cursor-pointer bg-transparent border-0;
    }

    .tab-button.is-active {
      @apply bg-white;
    }
  }

  .products__carousel {
    @apply px-32;
  }

  .products__swiper {
    @apply pt-32;
  }

  .product-card {
    @apply h-[492px] w-[268px] bg-white rounded-[20px] flex flex-col relative z-0 overflow-visible;
  }

  .product-card__media {
    @apply h-[239px] flex-shrink-0 bg-[#FAFAFA] px-6 pb-8 relative;

    &-inner {
      @apply h-full relative;
    }

    img.product-card__image {
      @apply absolute -bottom-5 right-0 z-[9999] max-w-full h-auto;
    }
  }

  .product-card__body {
    @apply grow p-[21px] flex flex-col h-full;
  }

  .product-card__info {
    @apply flex flex-col gap-2 shrink-0 pb-16;
  }

  .product-card__category {
    @apply text-[#8D8D8D] m-0;
  }

  .product-card__title {
    @apply text-[#0D1B39] font-bold text-xl m-0;
  }

  .product-card__stars {
    @apply w-[103px] h-auto;
  }

  .product-card__footer {
    @apply flex justify-between items-end mt-auto;
  }

  .product-card__price {
    @apply text-[#0D1B39] font-bold text-xl;
  }

  .product-card__add {
    @apply w-[48px] h-[48px] cursor-pointer;
  }

  .swiper-button-next, .swiper-button-prev {
    @apply bg-white w-[50px] h-[50px] rounded-full p-3 text-black flex items-center justify-center;
  }

  .products__viewall {
    @apply pt-[60px] flex items-center gap-3 text-[#E58411] w-fit mx-auto;
  }
}
