.products {
  background: #F7F7F7;
  padding: 48px 128px;

  .heading-title {
    padding-bottom: 32px;
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 16px;
  }

  .tabs {
    background: #EEEEEE;
    display: flex;
    flex-wrap: nowrap;
    padding: 8px;
    border-radius: 32px;
    width: fit-content;
    margin: 0 auto 16px;

    .tab-button {
      width: 84px;
      height: 45px;
      border-radius: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background: transparent;
      border: none;
    }

    .tab-button.is-active {
      background: #ffffff;
    }
  }

  .products__carousel {
    padding: 0 128px;
  }

  .products__swiper {
    padding-top: 128px;
  }

  .product-card {
    height: 492px;
    width: 268px;
    background: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
    overflow: visible;
  }

  .product-card__media {
    height: 239px;
    flex-shrink: 0;
    background: #FAFAFA;
    padding: 0 24px 32px 24px;
    position: relative;

    &-inner {
      height: 100%;
      position: relative;
    }

    img.product-card__image {
      position: absolute;
      bottom: -20px;
      right: 0;
      z-index: 9999;
      max-width: 100%;
      height: auto;
    }
  }

  .product-card__body {
    flex-grow: 1;
    padding: 21px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .product-card__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-shrink: 0;
    padding-bottom: 64px;
  }

  .product-card__category {
    color: #8D8D8D;
    margin: 0;
  }

  .product-card__title {
    color: #0D1B39;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
  }

  .product-card__stars {
    width: 103px;
    height: auto;
  }

  .product-card__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
  }

  .product-card__price {
    color: #0D1B39;
    font-weight: 700;
    font-size: 20px;
  }

  .product-card__add {
    width: 48px;
    height: 48px;
    cursor: pointer;
  }

  .swiper-button-next, .swiper-button-prev {
    background: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 12px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .products__viewall {
    padding-top: 60px;
    display: flex;
    align-items: center;
    gap: 12px;
    color: #E58411;
    width: fit-content;
    margin: 0 auto;
  }
}
