.products {
  @apply bg-[#F7F7F7] py-12 px-32;

  .heading-title {
    @apply pb-8 text-[42px] font-bold text-center;
  }

  .tabs {
    @apply bg-[#EEEEEE] w-fit flex flex-nowrap p-2 rounded-[32px] mx-auto;

    .tab-button {
      @apply w-[84px] h-[45px] rounded-[32px] flex items-center justify-center cursor-pointer
    }
  }

  .swiper-button-next,.swiper-button-prev{
    @apply bg-white size-[50px] rounded-full p-4 text-black;
  }
}
