// partials
@use "partials/fonts";

// pages
@use "pages/main-page";

// components
@use "components/landing";
@use "components/benefits";
@use "components/products";
@use "components/experiences";
@use "components/testimonials";
@use "components/footer";
@use "components/materials";

@tailwind base;
@tailwind components;
@tailwind utilities;
